<template>
  <div class="home">
    <QuizList />
  </div>
</template>

<script>
// @ is an alias to /src
import QuizList from "@/components/QuizList.vue";

export default {
  name: "home",
  components: {
    QuizList
  }
};
</script>
