html,
body {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #363636;
  color: whitesmoke;
}

* {
  box-sizing: border-box;
}
