.charDetails {
  background-color: #333333;
  color: whitesmoke;
  max-width: 400px;
  margin: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.detailImageChar {
  display: flex;
  max-width: 300px;
  max-height: auto;
  justify-content: center;
  margin: 0 auto;
}

.charDetails h2 {
  font-size: 1.2em;
  padding-left: 15px;
  margin-bottom: 0;
  text-align: center;
}

.statsDetailed {
  padding: 25px;
}

.statsDetailed p {
  display: flex;
  justify-content: space-between;
}
