html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

main {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

form h1 {
  margin-top: 0;
}

.center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 45px;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.35);
}

form label {
  font-size: 1em;
  display: block;
  margin-bottom: 15px;
}

form .form-group {
  margin-bottom: 15px;
}

form .form-group input {
  font-size: 1.1em;
  padding: 5px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
}

form button#btn-login {
  border: 1px solid rgb(195, 0, 255);
  font-size: 1.2em;
  background-color: rgb(63, 27, 223);
  color: white;
  border-radius: 3px;
}
