.card {
  background-color: #333333;
  color: whitesmoke;
  max-width: 300px;
  margin: 15px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.75);
}

.card-image {
  display: block;
}

.card h4 {
  font-size: 1.2em;
  padding-left: 15px;
  margin-bottom: 0;
}

.stats {
  padding: 15px;
}

.card button {
  display: block;
  width: 100%;
  padding: 15px;
  background: black;
  color: white;
  border: none;
  font-size: 1em;
}

.stats p {
  display: flex;
  justify-content: space-between;
}
