.todo-list {
  background: white;
  padding: 0 25px 25px 25px;
  margin-bottom: 15px;

  .no-todos {
    padding-top: 25px;
  }
}

.todo-items {
}

.todo-item {
  border-bottom: 1px solid #cccccc;
  padding: 15px;

  .content {
    display: flex;
    justify-content: space-between;
  }

  .content button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background: red;
    color: white;
    border: none;
  }
}
