<div class="todo-list">
    <div class="no-todos" *ngIf="todos.length === 0">
        <b>You have nothing to do. </b>
    </div>

    <div class="todo-items">
        <div *ngFor="let todo of todos" class="todo-item">

            <div class="content" *ngIf="!todo.edit">
                <div>
                    <input type="checkbox" [(ngModel)]="todo.completed">
                    <span (click)="onTitleClicked(todo.id)">
                        {{todo.title}}
                    </span>

                </div>
                <button (click)="onDeleteClicked(todo.id)"> X </button>
            </div>

            <app-update-todo [todo]="todo" *ngIf="todo.edit"> </app-update-todo>

            <small>Added on: {{todo.created_at | date: 'medium'}} </small>

        </div>
    </div>
</div>