html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to left bottom,
    #b6bf19,
    #df8a00,
    #ef4939,
    #db006d,
    #97099f
  );
  background-attachment: fixed;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
