<div class="pokemon-detail">

    <div class="card-image">
        <img [src]="pokemonDetail.sprites.front_default" alt="">
    </div>

    <div class="card-title">
        <h4>{{pokemonDetail.name}}</h4>
    </div>

    <div class="stats">
        <b>Stats: </b>
        <br>
        <p *ngFor="let pokeStat of pokemonDetail.stats">
            <span> {{ pokeStat.stat.name}} </span>
            <span> {{ pokeStat.base_stat}}</span>
        </p>
    </div>

</div>