<template>
  <div class="quiz-completed">
    <h1>You have completed the quiz!</h1>
    <h3>Final score: {{this.$route.params.score}}</h3>
    <h1>{{this.endText}}</h1>
    <img :src="getImage()" :alt="this.endPicture" />
  </div>
</template>

<script>
export default {
  name: "QuizCompleted",
  beforeCreate() {
    const score = this.$route.params.score;
    if (score < 5) {
      this.endText = "YOU LOSE";
      this.endPicture = "@/assets/game-over.jpg";
      console.log("You lose");
    } else if (score >= 5 && score < 8) {
      this.endText = "YOU WIN";
      console.log("You win");
    } else {
      this.endText = "YOU ARE THE MASTER OF THE TRIVIA UNIVERSE";
      this.endPicture = "@/assets/trophy.png";
      console.log("Trivia master");
    }
  },
  methods: {
    getImage() {
      if (this.$route.params.score < 5) {
        return require("../assets/game-over.png");
      } else {
        return require("../assets/trophy.png");
      }
    }
  }
};
</script>

<style>
.quiz-completed {
}
</style>