<template>
  <div class="quiz-question">
    <span class="category">{{question.category}}</span>
    <br />
    <span class="question" v-html="question.question"></span>
    <br />
    <button v-on:click="onClick('True')">True</button>
    <button v-on:click="onClick('False')">False</button>
  </div>
</template>

<script>
export default {
  name: "QuizQuestion",
  props: ["question"],
  methods: {
    onClick(answer) {
      this.$emit("question-answered", answer);
    }
  }
};
</script>
<style scoped>
#todo-list {
}
</style>