<template>
  <div id="quiz-list">
    <h1>The best quiz</h1>
    <QuizQuestion
      v-bind:question="questions[this.currentQuestion]"
      v-on:question-answered="questionAnswered"
    />
  </div>
</template>

<script>
import QuizQuestion from "./QuizQuestion";
import axios from "axios";

export default {
  name: "QuestionList",
  components: {
    QuizQuestion
  },
  beforeCreate() {
    axios
      .get("https://opentdb.com/api.php?amount=10&type=boolean")
      .then(resp => resp.data.results)
      .then(resp => {
        this.questions = resp;
      });
  },
  data() {
    return {
      questions: [
        {
          category: "Test category",
          question: "Test question",
          correct_answer: false
        }
      ],
      currentQuestion: 0,
      correctAnswers: 0
    };
  },
  methods: {
    questionAnswered(answer) {
      //console.log("Question answered: " + answer);
      if (this.questions[this.currentQuestion].correct_answer === answer) {
        console.log("+1 points");
        this.correctAnswers += 1;
      }
      this.currentQuestion += 1;
      console.log("Question: " + this.currentQuestion);
      if (this.currentQuestion >= 10) {
        this.$router.push({
          name: "completed",
          params: { score: this.correctAnswers }
        });
      }
    }
  }
};
</script>