<template>
  <div class="todo-item">
    <span class="title">{{todo.title}}</span>
    <button v-on:click="onCompletedClick">Completed</button>
  </div>
</template>

<script>
export default {
  name: "TodoItem",
  props: ["todo"],
  methods: {
    onCompletedClick() {
      this.$emit("complete-todo", this.todo.id);
    }
  }
};
</script>

<style scoped>
.todo-item {
}
</style>