<template>
  <!-- Our html -->
  <div id="todo-list">
    <p>My todo list</p>
    <TodoItem
      v-for="todo in todos"
      :key="todo.id"
      v-bind:todo="todo"
      v-on:complete-todo="completeTodo"
    />
  </div>
</template>

<script>
import TodoItem from "./TodoItem";
import axios from "axios";

export default {
  name: "TodoList",
  components: {
    TodoItem
  },
  beforeCreate() {
    axios
      .get("https://jsonplaceholder.typicode.com/todos")
      .then(resp => resp.data)
      .then(resp => {
        this.todos = resp;
      });
  },
  data() {
    return {
      todos: [
        {
          id: 1,
          title: "Test todo",
          completed: false
        }
      ]
    };
  },
  methods: {
    completeTodo(id) {
      for (let i = 0; i < this.todos.length; i++) {
        if (this.todos[i].id == id) {
          this.todos[i].completed = true;
          break;
        }
      }
    }
  }
};
</script>

<style scoped>
#todo-list {
  margin: 0 auto;
  max-width: 720px;
  width: 100%;
}
</style>