<template>
  <div class="completed">
    <QuizCompleted />
  </div>
</template>

<script>
// @ is an alias to /src
import QuizCompleted from "@/components/QuizCompleted.vue";

export default {
  name: "completed",
  components: {
    QuizCompleted
  }
};
</script>
