:host {
  display: block;
  margin: 25px 0px;
}

.todo-add {
  position: relative;

  input {
    display: block;
    width: 100%;
    font-size: 2em;
    padding: 10px 15px;
    font-family: inherit;
    border-radius: 5px;
    border: none;
    height: 60px;

    &:focus,
    &:active {
      box-shadow: 0 0 15 rgba(0, 0, 0, 0.6);
      outline: none;
    }
  }

  button {
    border: none;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 60px;
    font-family: inherit;
    font-size: 1.2em;
    padding: 0 20px;
    font-weight: bolder;
  }
}
