<div class="pokemon-card">

    <div class="card-image">
        <img [src]="pokemon.sprites.front_default" alt="">
    </div>

    <div class="card-title">
        <h4>{{pokemon.name}}</h4>
    </div>

    <div class="stats">
        <b>Stats: </b>
        <br>
        <p *ngFor="let pokeStat of pokemon.stats">
            <span> {{ pokeStat.stat.name}} </span>
            <span> {{ pokeStat.base_stat}}</span>
        </p>
    </div>

    <button (click)="onViewMoreClicked(pokemon.id)">View more</button>

</div>