.pokemon-card {
  padding: 15px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  max-width: 250px;
  border-radius: 3px;

  .card-image {
    display: flex;
    background: #efefef;
    min-height: 150px;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(
      to right top,
      #5489d8,
      #2fa8d2,
      #6cbdbf,
      #aaccbb,
      #d7dad1
    );

    img {
      width: 200px;
      height: auto;
    }
  }

  .card-title {
  }

  .card-stats {
    p {
      display: flex;
      justify-content: space-between;
      text-transform: capitalize;
    }
  }
}
