html,
body {
  font-family: "Kalam", cursive;
}

button {
  font-family: "Kalam", cursive;
  font-size: 1em;
  border: 1px solid #ffffff;
  background-color: #333;
  color: #fff;
}

select {
  font-family: "Kalam", cursive;
  font-size: 1em;
  height: 42px;
}
